/* https://coolors.co/223843-eff1f3-dbd3d8-dc143c-43291f */

:root {
  --background_color: #17181D;
  --text_color: #eff1f3;
  --section_color: #dbd3d8;
  --section_bg: #43291f;
  --main_color: #dc143c;
  --active_color: yellow;

  --section_bg: rgba(255, 255, 255, .1);

  --main_font: 'Great Vibes', cursive;
  --section_font: 'Dancing Script', cursive;
  --content_font: 'Open Sans', sans-serif;

  --min_column_width: 12em;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  background-color: var(--background_color);
  color: var(--text_color);
}

main {
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
  position: absolute;
  overflow: scroll;
  display: block;
}

article {
  position: relative;
  padding: 10px;
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  overflow: auto;
  display: block;

  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--section_bg);
}

section {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--section_bg);
}

section:nth-child(odd) {
  background-color: var(--section_bg);
  border: none;
}

h1.article {
  font-family: var(--main_font);
  font-size: 32px;
  color: var(--main_color);
}

h1 {
  font-family: var(--content_font);
  color: var(--text_color);
  font-size: 22px;
}

h1:before {
  content: ' ';
  display: table;
  width: var(--min_column_width);
}

h2 {
  font-size: 14px;
}

p {
  min-width: 200px;
  font-family: var(--content_font);
  font-size: 18px;
}

b {
  color: var(--active_color);
}

a {
  color: var(--main_color);
}

a:hover {
  color: var(--active_color);
  text-decoration: none;
}

.shadow {
  text-shadow: 0 0 0.2rem var(--main_color);
}

.float-left {
  float: left;
  padding: 20px;
  max-width: 400px;
}

.float-right {
  float: right;
  padding: 20px;
  max-width: 400px;
}

.float-center {
  padding: 20px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.fa {
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  width: 28px;
  height: 28px;
  padding: 1px;
  padding-top: 4px;
  text-align: center;
  vertical-align: middle;
}

.centered {
  text-align: center;
}

.padded {
  padding-left: 10px;
}

.padded:before {
  content: ' ';
  display: table;
  width: var(--min_column_width);
}

#brand {
  font-family: var(--main_font);
  color: var(--main_color);
  font-size: 28px;
}

#classes {
  background-image: url('/images/tango3_50pc.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  /*text-shadow: -2px -2px 1 #000, 2px -2px 1 #000, -2px 2px 1 #000, 2px 2px 1 #000;*/
}

